:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-saturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px; /*Weigths: 400, 700*/
}

h1 {
  font-size: 1em;
  margin: 0;
}

h2 {
  font-size: 1em;
  margin-bottom: 5px;
}

p {
  margin: 0;
}

body {
  background-color: var(--dark-cyan);
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat no-repeat;
  background-position: right 50vw bottom 40vh, left 50vw top 50vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-background {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: sticky;
  z-index: 0;
}

.profile-card { /* 327px Width * 375px Heigth */
  width: 80vw;
  max-width: 350px;
  height: auto;
  max-height: 375px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: -70px;
  z-index: 1;
}

.profile-info {
  margin-bottom: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-info > p {
  font-size: 0.8em;
  letter-spacing: 1px;
  margin: 0;
}

.personal-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.personal-info > h1 {
  margin-right: 10px;
}

.profile-stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 20px 25px 20px;
}

.profile-stats > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-stats > div > p {
  font-size: 0.6em;
  letter-spacing: 2px;
}


footer {
  position: absolute;
  bottom: 20px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }